$border: 1px solid black;

.article-title {
  font-size: 30px;
}
table {
    border-collapse: collapse;
    margin:0px 20px;
}
th {
    text-align: center;
    border: $border;
}
tr, td {
    border: $border;
    padding: 8px;
}
tr {
  &:nth-child(2n) {
    background-color: white;
  }
  &:nth-child(2n+1) {
    background-color: lightgray;
  }
}

#content {
    margin-top: 150px;
} 